@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#topo {
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
    background-image: linear-gradient(-90deg, #fc8e93, #f26a8c);
}


#sec1 {
    background-image: linear-gradient(#fc8e93, #f26a8c);
}

#sec1 h1 {
    font-size: 60px;
    color: #fff;
    font-family: 'Bebas Neue', cursive;
}

#sec1 h4 {
    font-size: 20px;
    color: white;
}

.bt-proj {
    padding: 10px 50px;
    border: 0;
    border-radius: 25px;    
    color: #f26a8c;    
    background: #ffffff;
    transition: background 2s;


}


.bt-proj:hover {
    background: #f26a8c ;
    color: #fff;
    border: 1px solid white;
}

#sec2 h2 {
    color: #37507a;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;

}


#sec2 h4 {
    color: #37507a;
    font-size: 25px;
    font-weight: 100;

}

#sec3 {
    background-image: linear-gradient(-90deg, #f26a8c, #fc8e93);
    padding-top: 150px;
    padding-bottom: 150px;
}

#sec3 h2 {
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
}

#sec3 p {
    color:#f26a8c;
    font-weight: bold;
}

.box3 {
    background: #ffffff;
    text-align: center;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 2px 2px 2px #8e44ad;
}
.box3:hover {
    background: #000000;
    color: #ffffff;
    box-shadow: 4px 4px 4px #8e44ad;
    transition: 1s;

}



.icone {
    font-size: 40px;
    color: #f26a8c;
}


#sec4 {
    padding-top: 100px;
    padding-bottom: 100px;


}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 5px solid #f26a8c;
}

.circle:hover {    
    transition: 0.5s;
    opacity: 0.8;
}