.navbar-brand .logo {
    width: 160px;
}

#nav {
    background: linear-gradient(270deg, rgb(243, 234, 54) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 4px 4px 4px #cdcdcd;
}


#navbarNav ul li a {
    color: #444444;
    font-weight: 600;
}

#navbarNav ul li a:hover {
    color: black;
    background: white;
    border-radius: 10px;
}